html{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}

body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    display: none;
}